<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-liquidfill.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/vintage.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/romantic.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/themes/westeros.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/jquery.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/jquery-ui.min.js"></script>
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/ResizeSensor.js"></script>

            <link rel="stylesheet"  href="https://assets.pyecharts.org/assets/jquery-ui.css">

</head>
<body>
    <style>.box {  }; </style>
        
    <div class="box">
                <div id="9b454aff3b8248ec94b27b1285dba4a4" class="chart-container" style="position: absolute; width: 900px; height: 500px; top: 31.80000114440918px; left: 0px;"></div>
    <script>
        var chart_9b454aff3b8248ec94b27b1285dba4a4 = echarts.init(
            document.getElementById('9b454aff3b8248ec94b27b1285dba4a4'), 'vintage', {renderer: 'canvas'});
        var option_9b454aff3b8248ec94b27b1285dba4a4 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "bar",
            "name": "\u6570\u91cf",
            "legendHoverLink": true,
            "data": [
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0,
                0
            ],
            "showBackground": false,
            "barMinHeight": 0,
            "barCategoryGap": "20%",
            "barGap": "30%",
            "large": false,
            "largeThreshold": 400,
            "seriesLayoutBy": "column",
            "datasetIndex": 0,
            "clip": true,
            "zlevel": 0,
            "z": 2,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u6570\u91cf"
            ],
            "selected": {
                "\u6570\u91cf": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "error",
                "\u7b49\u7ea71",
                "\u7b49\u7ea72",
                "\u7b49\u7ea73",
                "\u7b49\u7ea74",
                "\u7b49\u7ea75",
                "\u7b49\u7ea76",
                "\u7b49\u7ea77",
                "\u7b49\u7ea78",
                "\u7b49\u7ea79",
                "\u7b49\u7ea710"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u53e3\u888b\u4e2d\u56fe\u7247\u989c\u503c\u7b49\u7ea7\u5206\u6790",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_9b454aff3b8248ec94b27b1285dba4a4.setOption(option_9b454aff3b8248ec94b27b1285dba4a4);
    </script>
<br/>                <div id="c9296d53a35247f88943514b8cf5feb4" class="chart-container" style="position: absolute; width: 900px; height: 500px; top: 530.6000366210938px; left: 0px;"></div>
    <script>
        var chart_c9296d53a35247f88943514b8cf5feb4 = echarts.init(
            document.getElementById('c9296d53a35247f88943514b8cf5feb4'), 'light', {renderer: 'canvas'});
        var option_c9296d53a35247f88943514b8cf5feb4 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "pie",
            "clockwise": true,
            "data": [
                {
                    "name": "6\u5c81\u4ee5\u4e0b",
                    "value": 0
                },
                {
                    "name": "7~12\u5c81",
                    "value": 0
                },
                {
                    "name": "13~17\u5c81",
                    "value": 0
                },
                {
                    "name": "18~25\u5c81",
                    "value": 0
                },
                {
                    "name": "26~35\u5c81",
                    "value": 0
                },
                {
                    "name": "36~45\u5c81",
                    "value": 0
                },
                {
                    "name": "46~69\u5c81",
                    "value": 0
                },
                {
                    "name": "70~89\u5c81",
                    "value": 0
                },
                {
                    "name": "90\u5c81\u4ee5\u4e0a",
                    "value": 0
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8,
                "formatter": "{b}: {c}"
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "6\u5c81\u4ee5\u4e0b",
                "7~12\u5c81",
                "13~17\u5c81",
                "18~25\u5c81",
                "26~35\u5c81",
                "36~45\u5c81",
                "46~69\u5c81",
                "70~89\u5c81",
                "90\u5c81\u4ee5\u4e0a"
            ],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u53e3\u888b\u4e2d\u56fe\u7247\u5e74\u9f84\u5206\u5e03\u56fe",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_c9296d53a35247f88943514b8cf5feb4.setOption(option_c9296d53a35247f88943514b8cf5feb4);
    </script>
<br/>                <div id="215afed87828460fb50eb1270813cf04" class="chart-container" style="position: absolute; width: 611px; height: 498px; top: 32.400001525878906px; left: 900px;"></div>
    <script>
        var chart_215afed87828460fb50eb1270813cf04 = echarts.init(
            document.getElementById('215afed87828460fb50eb1270813cf04'), 'romantic', {renderer: 'canvas'});
        var option_215afed87828460fb50eb1270813cf04 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "pictorialBar",
            "symbol": "roundRect",
            "symbolSize": 80,
            "symbolOffset": [
                0,
                0
            ],
            "symbolRepeat": "fixed",
            "symbolClip": true,
            "data": [
                0,
                0,
                0
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                ""
            ],
            "selected": {
                "": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "xAxis": [
        {
            "show": false,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "axisLine": {
                "show": true,
                "onZero": true,
                "onZeroAxisIndex": 0,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 0,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "axisTick": {
                "show": false,
                "alignWithLabel": false,
                "inside": false
            },
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "show": true,
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "\u65e0\u8868\u60c5",
                "\u5fae\u7b11",
                "\u5927\u7b11"
            ]
        }
    ],
    "title": [
        {
            "text": "\u53e3\u888b\u91cc\u56fe\u7247\u8868\u60c5\u5206\u6790",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_215afed87828460fb50eb1270813cf04.setOption(option_215afed87828460fb50eb1270813cf04);
    </script>
<br/>                <div id="1068910582d2407ebcce4d7c5c64e4e7" class="chart-container" style="position: absolute; width: 612px; height: 501px; top: 530.2000122070312px; left: 899px;"></div>
    <script>
        var chart_1068910582d2407ebcce4d7c5c64e4e7 = echarts.init(
            document.getElementById('1068910582d2407ebcce4d7c5c64e4e7'), 'westeros', {renderer: 'canvas'});
        var option_1068910582d2407ebcce4d7c5c64e4e7 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "series": [
        {
            "type": "liquidFill",
            "name": "\u7537\u6027",
            "data": [
                0,
                0
            ],
            "waveAnimation": true,
            "animationDuration": 2000,
            "animationDurationUpdate": 1000,
            "color": [
                "#294D99",
                "#156ACF",
                "#1598ED",
                "#45BDFF"
            ],
            "shape": "circle",
            "backgroundStyle": {},
            "outline": {
                "show": true,
                "borderDistance": 8
            },
            "label": {
                "show": true,
                "position": "inside",
                "margin": 8,
                "fontSize": 50
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {},
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "\u53e3\u888b\u4e2d\u56fe\u7247\u6027\u522b\u60c5\u51b5",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_1068910582d2407ebcce4d7c5c64e4e7.setOption(option_1068910582d2407ebcce4d7c5c64e4e7);
    </script>
<br/>    </div>
    <script>
            $('#9b454aff3b8248ec94b27b1285dba4a4').css('border-style', 'dashed').css('border-width', '0px');$("#9b454aff3b8248ec94b27b1285dba4a4>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#9b454aff3b8248ec94b27b1285dba4a4'), function() { chart_9b454aff3b8248ec94b27b1285dba4a4.resize()});
            $('#c9296d53a35247f88943514b8cf5feb4').css('border-style', 'dashed').css('border-width', '0px');$("#c9296d53a35247f88943514b8cf5feb4>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#c9296d53a35247f88943514b8cf5feb4'), function() { chart_c9296d53a35247f88943514b8cf5feb4.resize()});
            $('#215afed87828460fb50eb1270813cf04').css('border-style', 'dashed').css('border-width', '0px');$("#215afed87828460fb50eb1270813cf04>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#215afed87828460fb50eb1270813cf04'), function() { chart_215afed87828460fb50eb1270813cf04.resize()});
            $('#1068910582d2407ebcce4d7c5c64e4e7').css('border-style', 'dashed').css('border-width', '0px');$("#1068910582d2407ebcce4d7c5c64e4e7>div:nth-child(1)").width("100%").height("100%");
            new ResizeSensor(jQuery('#1068910582d2407ebcce4d7c5c64e4e7'), function() { chart_1068910582d2407ebcce4d7c5c64e4e7.resize()});
            var charts_id = ['9b454aff3b8248ec94b27b1285dba4a4','c9296d53a35247f88943514b8cf5feb4','215afed87828460fb50eb1270813cf04','1068910582d2407ebcce4d7c5c64e4e7'];
function downloadCfg () {
    const fileName = 'chart_config.json'
    let downLink = document.createElement('a')
    downLink.download = fileName

    let result = []
    for(let i=0; i<charts_id.length; i++) {
        chart = $('#'+charts_id[i])
        result.push({
            cid: charts_id[i],
            width: chart.css("width"),
            height: chart.css("height"),
            top: chart.offset().top + "px",
            left: chart.offset().left + "px"
        })
    }

    let blob = new Blob([JSON.stringify(result)])
    downLink.href = URL.createObjectURL(blob)
    document.body.appendChild(downLink)
    downLink.click()
    document.body.removeChild(downLink)
}
    </script>
</body>
</html>
