*{
	margin: 0;
	padding: 0;
}
body{
	font-size: 16px;
}
li{
	list-style: none;
}
.nav{
	width: 100%;
	border-top: 1px solid #ff55ff;
	border-bottom: 1px solid #ff55ff;
}
.nav>ul{
	display: flex;
	justify-content: center;
	padding: 20px 0;
}
.nav>ul>li{
	position: relative;
	margin: 0 50px;
}
.nav ul li a{
	font-size: 17px;
	color: #333;
	text-decoration: none;
	color: #55ff00;
}
.nav ul li a:hover{
	color: #ff861d;
}
.nav ul li a:active{
	color: #ff0000;
}
.nav ul li ul{
	display: none;
	position: absolute;
	left: -5px;
	background: #a6c3f8;
	padding: 10px;
	width: 60px;
}
.nav ul li li{
	margin: 5px 0;
}
.nav>ul>li:hover ul{
	display: block;
}
.musp{
	cursor: pointer;
}
.music{
	position: absolute;
	right: 0;
}
.musp #pause{
	display: none;
	position: absolute;
	right: 0;
}
.musp #play{
	position: absolute;
	right: 0;
}

.about1{
	position: absolute;
	width: 920px;
	margin: 100px 300px;
}
.about1 h3{
	display: flex;
	align-items: center;
	color: #e22d00;
	font-size: 24px;
}
.about1 h3::before{
	content: '';
	display: inline-block;
	width: 5px;
	height: 30px;
	margin-right: 10px;
	background: #0055ff;
}
.about1 p{
	line-height: 2;
	margin: 20px 0;
	text-indent: 2em;
	font-size: 20px;
	color: #00ffff;
}



















.footer{
	position: absolute;
	background: #333333;
	width: 100%;
	color: #F2F2F2;
	padding: 10px 0;
	text-align: center;
	bottom: 0;
}
